// Place all the styles related to the FlightConfigurations controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type=number] {
  width: 70px;
  font-size: 30px;
  margin-top: 10px;
  height: 40px;
}

.main-control-buttons {
  margin-bottom: 30px;
  button {
    width: 200px;
    height: 70px;
  }
}